@font-face{
font-family: myriadpro;
   src: url('../fonts/MYRIADPRO-BOLDCOND.woff');
}
h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-family: myriadpro;
  margin: 1em auto;
  width: 80%;
  font-size: 50px;
  float: left;
  z-index: 100;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
h2{
  color: #ff5f01;
  font-family: myriadpro;
  font-size: 25px;
}
html, body, header, article, nav, main{
  box-sizing: border-box;
  font-family: myriadpro;
}
header{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  height: 540px;
  font-size: 25px;
  margin: 17px auto;  
}
#slideshow {    
  position:absolute;
  display: block;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  overflow:hidden;
  -o-box-shadow:1px 1px 5px #ddd;
  box-shadow:1px 1px 5px #ddd;
}
#slideshow > img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top:0;
  left:0;
  opacity:1;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 3s, 8s;
  -moz-transition-property: opacity, -moz-transform;
  -moz-transition-duration: 3s, 8s;
  -o-transition-property: opacity, -o-transform;
  -o-transition-duration: 3s, 8s;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  transition-duration: 3s, 8s;
}
#slideshow :nth-child(2n+1) {
  -webkit-transform-origin: top right;
  transform-origin: top right;
}
#slideshow :nth-child(3n+1) {
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
#slideshow :nth-child(4n+1) {
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}
#slideshow .fx:first-child + img ~ img {
   z-index:-1;
}
#slideshow .fx {
  -webkit-transform: scale(1.5) translate(30px);
  transform: scale(1.5) translate(30px);
  opacity:1;
}
body{
  width: 720px;
  background-color: #b0b0b0;
  padding-top: 2.5rem;    
  position: relative;
}
article{
  background-color: #FFF;
}
nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav > form {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  
  
}
nav > ul {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
nav > ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav > ul > li {
  background-color: #10fefe;
  list-style-type: none;
  text-align:center;
  width: 100px;
  height: 2.5rem;
  line-height:2rem;
  margin-top: 1rem;
  margin-right: 2px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.modalDialog{
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events:none;
}
.modalDialog:target{
  opacity:1;
  pointer-events: auto;
}
.modalDialog > div{
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close{
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff;}
#page-wrap {
  width: 720px; 
  margin-top: 250px auto;  
}

.tabgroup{
  color: #333;
  display: block;
  margin: auto;
  position: relative;
  width: 80%;
  float: left;
}

.tabgroup input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabgroup section {
  display: block;
}

.tabgroup section label {
  background: #ccc;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index:100;
}

.tabgroup section article {
  display: none;
  left: 230px;
  min-width: 490px;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 0;
}

.tabgroup section article:after {
  background-color: #ccc;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

.tabgroup input[name="sections"]:checked + label { 
  background: #eee;
  color: #bbb;
}

.tabgroup input[name="sections"]:checked ~ article {
  display: block;
}

@media (max-width: 533px) {
  
  h1 {
    width: 100%;
  }

  .tabgroup {
    width: 100%;
  }
  
  .tabgroup section label {
    font-size: 1em;
    width: 160px;
  }  

 .tabgroup section article {
    left: 200px;
    min-width: 270px;
  } 
  
  .tabgroup section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }  
  
}


@media (max-width: 768px) {
  h1 {
    width: 96%;
  }

  .tabgroup {
    width: 96%;
  }
}


@media (min-width: 1366px) {
  h1 {
    width: 70%;
  }

  .tabgroup {
    width: 70%;
  }
}